h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
}
input {
  width: 100%;
}
button {
}
.items-container {
  text-align: left;
}

.row1 {
  margin: 10px 5px;
}

.button1 {
  min-width: 100px;
}
