.app-container {
  display: flex;
  flex-direction: row;
}
.content {
  width: 100%;
}
.sidebar {
  height: 100vh;
  min-height: 500px;
}
.post-card {
  margin: 20px 50px;
}
.hashtag {
  margin: 0px 3px;
}
.reactions {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 4px;
}
.delete-post {
  cursor: pointer;
}
.create-post {
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
}
.welcome-message {
  color: red;
  padding: 10px 10px 0px 10px;
}
.spinner {
  margin: 10% 0;
}
